/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
body, html{
  height: 100%;
  width:100%;
  background-image: url('images/space.jpg');
  background-size: cover;
  color: white;
}

.player{
  stroke: black;
  stroke-width: 3px;
  background-image: url('images/ClassicShip.png');

}

.enemy {
  stroke: black;
  stroke-width: 3px;

}

.footer{
  display:flex;
  align-items: center;
}

.spacer{
  width: 20px;
}
